<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="static/css/reset.css"><!--{{ url_for('static', filename='css/reset.css')}}-->
    <link rel="stylesheet" href="static/css/all.css">
<!--    <link rel="stylesheet" href="static/css/index.css">-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css')}}">

    <script src='static/js/1.js'></script>
    <link rel="stylesheet" href="static/css/base.css">
<!--    <link rel="stylesheet" href="../css/reset.css">-->
<!--    <link rel="stylesheet" href="../css/all.css">-->
<!--    <link rel="stylesheet" href="css/index.css">-->

</head>
<body>
    <div class="topbar-wrapper">
        <div class="topbar w clearfix">
            <ul class="service">
                <li><a href="javascript:">商城</a></li>
                <li class="line">|</li>
                <li><a href="javascript:">Book</a></li>
                <li class="line">|</li>
                <li><a href="javascript:">LoT</a></li>
                <li class="line">|</li>
                <li><a href="javascript:">云服务</a></li>
                <li class="line">|</li>
                <li><a href="javascript:">金融</a></li>
                <li class="line">|</li>
                <li><a href="javascript:">有品</a></li>
                <li class="line">|</li>
                <li><a href="javascript:">开发平台</a></li>
                <li class="line">|</li>
                <li><a href="javascript:">企业团购</a></li>
                <li class="line">|</li>
                <li><a href="javascript:">物资证明</a></li>
                <li class="line">|</li>
                <li><a href="javascript:">协议规则</a></li>
                <li class="line">|</li>
                <li >
                    <a class="app" href="javascript:">
                    下载app
                    <div class="qrcode">
                        <img src="static/img/img1.jpg" alt="">
<!--                        <span>小米商城app</span>-->
                    </div>
                    </a>
                </li>

                <li class="line">|</li>
                <li><a href="javascript:">Select Location</a></li>
            </ul>


        <ul class=" shop-car">
            <li><a href="javascript:">
                <i class="fas fa-shopping-cart"></i>
                购物车（0）
                </a>
            </li>
        </ul>

        <ul class="user-info">
                    <li><a href="javascript:">登录</a></li>
                    <li class="line">|</li>
                    <li><a href="javascript:">注册</a></li>
                    <li class="line">|</li>
                    <li><a href="javascript:">消息通知</a></li>
        </ul>
        </div>
    </div>
    <div class="turn">
        <div class="re">
            <ul>
                <li><img src="static/img/猫猫.jpg" alt=""></li>
                <li><img src="static/img/白猫_1.png" alt=""></li>
                <li><img src="static/img/剃须.jpg" alt=""></li>
                <li><img src="static/img/preview.jpg" alt=""></li>
                <li><img src="static/img/鲨鲨.jpg" alt=""></li>
            </ul>
            <ol>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ol>
        </div>
    </div>
    <div class="ou">
    <div class="outer" style="margin: 0 60px">
        <div class="img-wrapper"></div>
            <img src="static/img/img.png" alt="">
        <div class="info">
            <h2 class="title">
                夏目友人帐
            </h2>
            <h3 class="category">
                动漫
            </h3>
            <p class="intro">
                《夏目友人帐》是绿川幸创作在漫画杂志《LaLa》上连载的一部治愈系漫画作品，2003年起在《LaLa DX》上连载，2007年10月转至《LaLa》。
            </p>
        </div>
        <div class="star-wrapper">
            <ul class="star">
                <li class="fas fa-star light"></li>
                <li class="fas fa-star light"></li>
                <li class="fas fa-star"></li>
                <li class="fas fa-star"></li>
            </ul>
            <ul class="weibo">
                <li class="fab fa-weibo "></li>
                <li class="fa fa-share-alt-square" style="margin-right: 8px"></li>
            </ul>
        </div>
    </div>

    <div class="outer" style="margin: 0 60px">
        <div class="img-wrapper"></div>
            <img src="static/img/img.png" alt="">
        <div class="info">
            <h2 class="title">
                夏目友人帐
            </h2>
            <h3 class="category">
                动漫
            </h3>
            <p class="intro">
                《夏目友人帐》是绿川幸创作在漫画杂志《LaLa》上连载的一部治愈系漫画作品，2003年起在《LaLa DX》上连载，2007年10月转至《LaLa》。
            </p>
        </div>
        <div class="star-wrapper">
            <ul class="star">
                <li class="fas fa-star light"></li>
                <li class="fas fa-star light"></li>
                <li class="fas fa-star"></li>
                <li class="fas fa-star"></li>
            </ul>
            <ul class="weibo">
                <li class="fab fa-weibo "></li>
                <li class="fa fa-share-alt-square" style="margin-right: 8px"></li>
            </ul>
        </div>
    </div>

    <div class="outer" style="margin: 0 60px">
        <div class="img-wrapper"></div>
            <img src="static/img/img.png" alt="">
        <div class="info">
            <h2 class="title">
                夏目友人帐
            </h2>
            <h3 class="category">
                动漫
            </h3>
            <p class="intro">
                《夏目友人帐》是绿川幸创作在漫画杂志《LaLa》上连载的一部治愈系漫画作品，2003年起在《LaLa DX》上连载，2007年10月转至《LaLa》。
            </p>
        </div>
        <div class="star-wrapper">
            <ul class="star">
                <li class="fas fa-star light"></li>
                <li class="fas fa-star light"></li>
                <li class="fas fa-star"></li>
                <li class="fas fa-star"></li>
            </ul>
            <ul class="weibo">
                <li class="fab fa-weibo "></li>
                <li class="fa fa-share-alt-square" style="margin-right: 8px"></li>
            </ul>
        </div>
    </div>
    </div>
        <div class="ou">
            <div class="outer" style="margin: 30px 60px">
                <div class="img-wrapper"></div>
                    <img src="static/img/img.png" alt="">
                <div class="info">
                    <h2 class="title">
                        夏目友人帐
                    </h2>
                    <h3 class="category">
                        动漫
                    </h3>
                    <p class="intro">
                        《夏目友人帐》是绿川幸创作在漫画杂志《LaLa》上连载的一部治愈系漫画作品，2003年起在《LaLa DX》上连载，2007年10月转至《LaLa》。
                    </p>
                </div>
                <div class="star-wrapper">
                    <ul class="star">
                        <li class="fas fa-star light"></li>
                        <li class="fas fa-star light"></li>
                        <li class="fas fa-star"></li>
                        <li class="fas fa-star"></li>
                    </ul>
                    <ul class="weibo">
                        <li class="fab fa-weibo "></li>
                        <li class="fa fa-share-alt-square" style="margin-right: 8px"></li>
                    </ul>
                </div>
            </div>

        <div class="outer" style="margin: 30px 60px">
            <div class="img-wrapper"></div>
                <img src="static/img/img.png" alt="">
            <div class="info">
                <h2 class="title">
                    夏目友人帐
                </h2>
                <h3 class="category">
                    动漫
                </h3>
                <p class="intro">
                    《夏目友人帐》是绿川幸创作在漫画杂志《LaLa》上连载的一部治愈系漫画作品，2003年起在《LaLa DX》上连载，2007年10月转至《LaLa》。
                </p>
            </div>
            <div class="star-wrapper">
                <ul class="star">
                    <li class="fas fa-star light"></li>
                    <li class="fas fa-star light"></li>
                    <li class="fas fa-star"></li>
                    <li class="fas fa-star"></li>
                </ul>
                <ul class="weibo">
                    <li class="fab fa-weibo "></li>
                    <li class="fa fa-share-alt-square" style="margin-right: 8px"></li>
                </ul>
            </div>
        </div>

        <div class="outer" style="margin: 30px 60px">
            <div class="img-wrapper"></div>
                <img src="static/img/img.png" alt="">
            <div class="info">
                <h2 class="title">
                    夏目友人帐
                </h2>
                <h3 class="category">
                    动漫
                </h3>
                <p class="intro">
                    《夏目友人帐》是绿川幸创作在漫画杂志《LaLa》上连载的一部治愈系漫画作品，2003年起在《LaLa DX》上连载，2007年10月转至《LaLa》。
                </p>
            </div>
            <div class="star-wrapper">
                <ul class="star">
                    <li class="fas fa-star light"></li>
                    <li class="fas fa-star light"></li>
                    <li class="fas fa-star"></li>
                    <li class="fas fa-star"></li>
                </ul>
                <ul class="weibo">
                    <li class="fab fa-weibo "></li>
                    <li class="fa fa-share-alt-square" style="margin-right: 8px"></li>
                </ul>
            </div>
        </div>
        </div>
</body>
</html>